<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/semantic.min.css' />
    <script type="javascript" src="/js/semantic.min.js"></script>
</head>
<body>
<div class="ui container">
    <h2 class="ui centered header">Server Status</h2>
    <div class="ui one column grid">
        {{{body}}}
    </div>
</div>
</body>
</html>
