<table class="ui celled table">
    <thead>
        <tr>
            <th>Coin</th>
            <th>IP</th>
            <th>Status</th>
            <th>Time Last Checked</th>
            <th>Delta</th>
            <th>Last Block Inserted</th>
        </tr>
    </thead>
    <tbody>
    {{#each coins}}
        {{#each servers}}
            <tr>
                <td>{{name}}</td>
                <td>{{ip}}</td>
                {{#if status}}
                    <td class="positive">OK</td>
                {{else}}
                    <td class="error">Error</td>
                {{/if}}
                <td>{{lastCheck}}</td>
                <td>{{deltaCheck}}</td>
                <td>{{lastBlock}}</td>
            </tr>
        {{/each}}
    {{/each}}
    </tbody>
</table>